.fooheader{
	height: 6.250em;
}
.inverted {
	filter: grayscale(100%);
}
.circular-image{
	border-radius: 50%;
	object-fit: cover;
	height: 200px;
	width: 200px;
}
dt{
	padding: 10px;
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
}