{% load static %}
<!DOCTYPE html>
<html>
{% include "base.html" %}
<body id = "body">
{% include "navbar.html" %}
<br>
<div class="containter" style="padding-top: 60px;">
	<h1>Search Books</h1>
	<div>
		<input type="text" id="search" placeholder="Input the books name" class="form-control"> <button type="Submit" id="submit">Search</button>

	<table class="table table-dark table-striped">
  		<thead>
    		<tr>
     			<th scope="col">Nama Buku</th>
      			<th scope="col">Penulis Buku</th>
      			<th scope="col">Gambar Buku</th>
    		</tr>
    	</thead>
 		<tbody id="result">
  
  		</tbody>
	</div>
</div>
</body>
</html>