{% load static %}
<!DOCTYPE html>
<html>
{% include "base.html" %}
<body>
{% include "navbar.html" %}
<br>
<div style="padding-top: 56px;">Halo, Apa kabar?</div>
<form method="POST">
	{% csrf_token %}
	<p>
		{{form_status.as_p}}
	</p>
	<button type="Submit" name="submit">Submit</button>
</form>
	<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Tanggal & Waktu</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
 <tbody>
  	{% for stat in stats %}
    <tr>
      <th scope="row">{{stat.time}}</th>
      <td>{{stat.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</body>
</html>