{% load static %}
<html>
{% include "base.html" %}
<body>
{% include "navbar.html" %}
<br>
<div style="padding-top: 60px;" class="text-center">
	{% if user.is_authenticated %}
  		Selamat datang, {{ user.first_name }}!
  		<br>
  		<img src="https://3.bp.blogspot.com/-WqX6Ng-AgmE/XWcsn3C5HaI/AAAAAAAADeE/qY_OeWR2zf0N0o7TVOI0Sx8v60ohQP1NgCLcBGAs/s1600/1567036546540.jpg">
	{% else %}
  		<p>You are not logged in</p>
  		<a href="{% url 'login' %}">login</a>
{% endif %}
</div>
</body>
</html>