{% load static %}
<html>
{% include "base.html" %}
<body>
{% include "navbar.html" %}
<br>
<div style="padding-top: 60px;" class="text-center">
	<h2>Login</h2>
	<p>Cobain<br>
	User: guest<br>
	Pass: Pacil123
	</p>
	<form method="post">
  		{% csrf_token %}
  		{{ form.as_p }}
  		<button type="submit">Login</button>
	</form>	
</div>
</body>
</html>